.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    /*padding: 10px;*/
    border: solid 5px black;
    width: 310px;
}
.grid-item {
    width: 100px;
    height: 100px;
    border: solid 2px black;
    background: antiquewhite;
}
.grid-image{
    width: 100px;
    height: 100px;
}

.button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#new_game {
    background-color: #4CAF50;
    color: white;
}

#submit_result{
    background-color: #d9e9f8;
    color: black;
}

#login{
    background-color: blanchedalmond;
    color: #822c2c;
}

.num-container{
    font-family: "Bodoni MT Black";
}

#header {
    font-family: Arial;
    font-size: 30px;
    color: blue;
}

#parag{
    font-family: "Times New Roman";
    font-size: 15px;
    color: #a84dc1;
}

#login_status{
    color: red;
}

#logout{
    background-color: aquamarine;
    color: darkcyan;
}

